.windowsMain{
    background: rgba(255, 255, 255, 0.548);
    position: absolute;
    top: 29%;
    left: 24%;
    width: 55%;
    height: 12.5em;
    border-radius: 32px;

}
h2{
    text-align: center;
}
.info{
    display: flex;
    position: absolute;
    left: 35%;
}
.info p{
    font-size: 38px;
    position: relative;
    top: 7px;
    left: 10px;
}
.description{
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 21px;
    color: blue;
}
.infoprofun{
    display: flex;
    position: relative;
    top: 50%;
    left: 10em;
}
.infoprofun p{
    margin-left: 23px;
}