.windowsMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  max-width: 800px;
  min-width: 300px;
  height: auto;

  & h2,
  p {
    color: rgb(0, 0, 0);
  }
  & .info {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: auto;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.extraInfo{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 5rem;
}
.humidity{
  display: flex;
  align-items: center;
  gap: 1px;
}
@media screen and (max-width: 930px) {
  .info {
    flex-direction: column;
    font-size: 1.2rem;
  }
  .windowsMain {
    height: auto;
  }
  .search{
    width: 100%;
  }
}
