* {
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Roboto", sans-serif;
}
body {
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.screenfirt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 20px;
  width: 100;
  & input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 500px;
    text-align: center;
    font-size: 1.4rem;
  }
  & input:focus {
    outline: none;
    border: 2px solid rgb(0, 68, 255);
  }
}

@media screen and (max-width: 600px) {
  .screenfirt {
    & input {
      width: 300px;
    }
  }
}
